build/*
docs/_build/*
dev_server/build/*
dev_server/sae_python_dev.egg-info/*
*~
*.DS_Store
*.default
*.types
*.pyc
*.egg
*.pdf
*.bak
*.doc
*.ppt
*.xls
*.mht
*.mp3
*.mp4
*.wma
*.rar
*.zip
*.7z
*.xz
*.map
*.log
*.txt
*.swp
*.gz
*.ko
*.so
.tmp*
.svn
.cvs
